# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Model files
model_output/*
!model_output/wertigo.pt

.env
.env.txt
*.pyc
*.pyo
*.pyd
*.sqlite3
*.db
*.log
*.npy
.DS_Store
.idea/
.vscode/ 